/* ==========================================================================
   IBM styles
========================================================================== */
/* --------------------------------------------------------------------------
	Declare Swatch book variables.
-------------------------------------------------------------------------- */
//Blue
$ibmdesign-blue-10: #C0E6FF;
$ibmdesign-blue-20: #7CC7FF; 
$ibmdesign-blue-30: #5AAAFA;
$ibmdesign-blue-40: #5596E6; 
$ibmdesign-blue-50: #4178BE;
$ibmdesign-blue-60:	#325C80;
$ibmdesign-blue-70:	#264A60;
$ibmdesign-blue-80:	#1D3649;
$ibmdesign-blue-90:	#152935;
$ibmdesign-blue-100: #010205;

//Green
$ibmdesign-green-10: #C8F08F;
$ibmdesign-green-20: #B4E051; 
$ibmdesign-green-30: #8CD211;
$ibmdesign-green-40: #5AA700; 
$ibmdesign-green-50: #4B8400;
$ibmdesign-green-60: #2D660A;
$ibmdesign-green-70: #144D14;
$ibmdesign-green-80: #0A3C02;
$ibmdesign-green-90: #0C2808;
$ibmdesign-green-100: #010200;

//Teal
$ibmdesign-teal-10: #A7FAE6;
$ibmdesign-teal-20: #6EEDD8; 
$ibmdesign-teal-30: #41D6C3;
$ibmdesign-teal-40: #00B4A0; 
$ibmdesign-teal-50: #008571;
$ibmdesign-teal-60: #006D5D;
$ibmdesign-teal-70: #005448;
$ibmdesign-teal-80: #003C32;
$ibmdesign-teal-90: #012B22;
$ibmdesign-teal-100: #000202;

//Purple
$ibmdesign-purple-10: #EED2FF;
$ibmdesign-purple-20: #D7AAFF; 
$ibmdesign-purple-30: #BA8FF7;
$ibmdesign-purple-40: #AF6EE8; 
$ibmdesign-purple-50: #9855D4;
$ibmdesign-purple-60: #734098;
$ibmdesign-purple-70: #562F72;
$ibmdesign-purple-80: #412356;
$ibmdesign-purple-90: #311A41;
$ibmdesign-purple-100: #030103;

//Magenta
$ibmdesign-magenta-10: #FFD2FF;
$ibmdesign-magenta-20: #FF9EEE; 
$ibmdesign-magenta-30: #FF71D4;
$ibmdesign-magenta-40: #FF3CA0; 
$ibmdesign-magenta-50: #DB2780;
$ibmdesign-magenta-60: #A6266E;
$ibmdesign-magenta-70: #7C1C58;
$ibmdesign-magenta-80: #601146;
$ibmdesign-magenta-90: #3A0B2E;
$ibmdesign-magenta-100: #040102;

//Red
$ibmdesign-red-10: #FFD2DD;
$ibmdesign-red-20: #FFA5B4; 
$ibmdesign-red-30: #FF71D4;
$ibmdesign-red-40: #FF3CA0; 
$ibmdesign-red-50: #DB2780;
$ibmdesign-red-60: #A6266E;
$ibmdesign-red-70: #7C1C58;
$ibmdesign-red-80: #601146;
$ibmdesign-red-90: #3A0B2E;
$ibmdesign-red-100: #040102;